html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

body {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 1.6rem 6.4rem;
  justify-content: space-between;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 3.4rem;
    height: 3.4rem;
  }
  &__nav {
    display: flex;
    &--list {
      display: flex;
    }
    &--li {
      list-style: none;
    }
    &--li a {
      font-family: Outfit;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      display: flex;
      gap: 1.6rem;
      text-align: left;
      margin-left: 1.6rem;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-decoration: none;
      color: black;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    &--input {
      width: 42.4rem;
      height: 4.6rem;
      border: 2px solid #3a6150;
      padding-left: 1.6rem;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 400;
      color: #3a6150;
      outline: none;
    }
    &--button {
      width: 4.8rem;
      height: 4.8rem;
      margin-left: -4.8rem;
      border: 2px solid #3a6150;
      background-color: #3a6150;
    }
    &--img {
    }
  }
}

.hero {
  padding: 1.6rem 6.4rem;
  background-color: #f4f5f7;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
  &__content {
    width: 64.7rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content--title {
    font-family: Outfit;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a6150;
  }
  &__content--subtitle {
    font-family: Outfit;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.9rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a6150;
  }
  &__content--text {
    font-family: Outfit;
    width: 50.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3a6150;
  }
  &__content--button {
    margin-top: 3.6rem;
    width: 19.6rem;
    height: 4.8rem;
    font-size: 1.8rem;
    gap: 10px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background-color: #3a6150;
    border: none;
    color: white;
  }
  &__background {
    width: 64rem;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 8rem 6.4rem;
  gap: 1.8rem;
  &__item {
    width: 64.7rem;
    height: 28.9rem;
    background-color: #3a6150;
    padding-inline: 2.4rem;
    padding-top: 2.4rem;
    display: flex;
    align-items: start;
    gap: 1.8rem;
    &--img {
      width: 18rem;
      height: 23rem;
    }
    &--header {
      font-family: Outfit;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
    &--text {
      font-family: Outfit;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
    &--link {
      font-family: Outfit;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: left;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
  }
}

.contact {
  height: 63.7rem;
  width: 131.2rem;
  padding: 1.6rem 6.4rem;
  display: flex;
  &__content {
    width: 42.5rem;
    height: 100%;
    padding: 4.2rem;
    display: flex;
    border-radius: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/img/Rectangle\ 573.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 33.5rem;
    }
    &--header {
      font-size: 4.8rem;
      font-weight: 700;
      text-align: left;
      margin-bottom: 1.6rem;
    }
    &--text {
      font-family: Outfit;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 5.6rem;
    }
    &--list {
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
    }
    &--item {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem;
      gap: 2.4rem;
    }
    &--img {
      width: 2.4rem;
    }
  }
  &__container {
    &--medias {
      display: flex;
      padding-bottom: 4.2rem;
      gap: 3.6rem;
    }
    &--media {
      list-style: none;
      width: 2.8rem;
    }
  }

  &__form {
    padding-inline: 2rem;
    padding-block: 4.8rem;
    &--data {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2rem;
      gap: 1.8rem;
    }
    &--label {
      font-family: Outfit;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: black;
    }
    &--item {
      input {
        width: 41.6rem;
        height: 4.4rem;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
      }
      input:focus {
        border: 2px solid #3a6150;
      }
    }
    &--profession {
      display: flex;
      gap: 3.6rem;
      margin-top: 2.6rem;
      margin-bottom: 2.6rem;
    }
    &--prof {
      list-style: none;
    }
    &--radio {
      display: grid;
      place-content: center;
      appearance: none;
      margin: 10% 0 0;
      width: 2rem;
      height: 1rem;
      align-items: center;
      background-color: #fff;
    }
    &--checkboxes {
      display: flex;
    }
    &--button {
      width: 19.6rem;
      height: 4.9rem;
      border: none;
      background-color: #3a6150;
      color: white;
      gap: 1rem;
      border-radius: 2px;
      opacity: 0px;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

    &--textarea {
      width: 100%;
      height: 10.4rem;
      outline: none;
    }
  }
}

.footer {
  padding: 0 6.4rem;
  &__title {
    font-family: Outfit;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #ffffff;

    .footer__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      .footer__item {
        &--subscribe {
          flex-basis: 35%;

          .footer__description {
            font-family: Outfit;
            font-size: 18px;
            font-weight: 400;
            line-height: 26.1px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }

          .footer__form {
            display: flex;
            align-items: end;
            max-width: 53.3rem;

            .footer__input {
              flex: 1;
              padding: 1rem;
              border: none;
              margin-right: 1rem;
              font-size: 1rem;
              border-bottom: 1px solid #3a6150;
              font-family: Outfit;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 2.7rem;
              text-align: left;
              outline: none;
            }

            .footer__button {
              width: 19.5rem;
              height: 5.4rem;
              gap: 1rem;
              opacity: 0px;
              background-color: #3a6150;
              border: none;
              color: white;

              transition: background-color 0.3s;

              &:hover {
                background-color: #22392f;
              }
            }
          }
        }

        &--navigation {
          flex-basis: 20%;

          .footer__nav-item {
            margin-bottom: 1rem;
            font-size: 1rem;
            color: #212529;
            list-style: none;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .footer__nav-item a {
            text-decoration: none;
            font-family: Outfit;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.7rem;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            color: black;
          }
        }

        &--contacts {
          .footer__contacts-title {
            font-size: 1.8rem;
            font-weight: 400;
            text-align: left;
          }

          .footer__contacts-phone,
          .footer__contacts-email {
            font-family: Outfit;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: left;
            color: #d0d1d3;
          }

          .footer__contacts-email {
            text-decoration: underline;
          }

          .footer__payment-methods {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            .footer__payment-logo {
              width: 5rem;
              height: auto;
            }
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    width: 100%;
    color: #6c757d;

    .footer__copyright--text {
      font-family: Outfit;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      margin-right: 20%;
    }

    .footer__policy--list {
      display: flex;
      list-style: none;
      gap: 15px;
      padding-right: 1.6rem;

      .footer__policy--item {
        font-family: Outfit;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
